# Welcome to Inscopy...

In [6]:
# Here we import the libaries that we'll use.
import inscopy.main as inx # The main Inscopy library

# Loading the data
In order to run this example notebook, two example datafiles have been included. The are:

    - Mouse3_AC1_test.csv (containing all the identified cells of one recording)   
    - Mouse3_AC1_TTL.csv (Containing the TTL pulses in that same recording)
    
The files are obtained during a simple conditioning task in which a CS+ predicts a stimulus and a CS- is without scheduled concequences. The CS+, CS- and stimulus all have a duration of 2sec.

In [13]:
# Two load data functions are included in Inscopy, one for data and one for TTL pulses
cells = inx.load_cells('Mouse3_AC1_test.csv')
TLL = inx.load_TTL('Mouse3_AC1_TTL_test.csv')

Unable to grab pulses from: EX-LED

Let's have a look at how the data is organized. The cells are stored in a [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html). Every column contains a cell, the index contains a timeline.

In [14]:
# Print the head of the dataframe
cells.head()

,C014,C015,C019,C025,C026,C027,C032,C034,C036,C037,...,C072,C074,C075,C076,C077,C082,C087,C088,C090,C098
,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted,...,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted,accepted
0.000000,221.23030,419.1952,231.8218,742.5095,1353.8890,227.8089,43.416420,-325.8921,422.5137,-276.3569,...,262.73330,501.2041,-0.590720,232.5705,716.9009,795.0726,581.6196,88.45294,-7.050067,146.8416
0.049961,125.99520,336.5704,254.4867,525.0764,1304.1980,254.7474,159.273000,-147.1034,145.5259,-68.4526,...,63.22830,612.5137,155.886000,315.2365,796.4816,489.1010,578.2794,195.21210,-31.871020,159.7640
0.099922,115.22560,329.6065,102.1143,798.1436,970.5417,130.3991,72.904040,-143.3747,284.4962,-269.1349,...,285.99220,599.7084,6.539417,309.6529,708.6279,497.0079,491.3867,25.77842,147.278700,197.9656
0.149883,-52.70831,398.1596,221.1164,370.0634,942.3802,281.1639,-64.085540,-342.6367,287.6556,-106.3225,...,66.54649,359.8383,152.757800,378.4610,421.2542,643.1846,470.8666,-32.66871,84.086980,201.4958
0.199844,34.40885,450.8571,227.3858,796.7164,993.2611,139.7210,9.392694,-286.8622,226.6733,-320.9226,...,339.38660,323.0055,347.798700,187.4776,653.2042,282.1373,337.4106,-37.89618,102.271700,291.7189

The TLL timestamps meanwhile are stored in a Python dict. The keys of the dict are the TLL channels on the nVista system. The values are again DataFrames, but in this case every row is a pulse on the channel.

In [20]:
# Look at the available keys
print('The available channels are:')
[print(i) for i in TLL.keys()]

# Look at one in particular
print('This is for instance what GPIO-1 looks like in this datafile:')
TLL['GPIO-1'].head()

The available channels are:
Digital GPI 0
Digital GPI 1
Digital GPI 2
Digital GPI 3
Digital GPI 4
Digital GPI 5
Digital GPI 6
Digital GPI 7
Digital GPO 0
Digital GPO 1
Digital GPO 2
Digital GPO 3
Digital GPO 4
Digital GPO 5
Digital GPO 6
Digital GPO 7
GPIO-1
GPIO-2
GPIO-3
GPIO-4
OG-LED
DI-LED
e-focus
BNC Sync Output
BNC Trigger Input
This is for instance what GPIO-1 looks like in this datafile:

      Start      Stop  Duration
0   88.8342   90.8358    2.0016
1  124.7032  126.7050    2.0018
2  183.0524  185.0542    2.0018
3  210.5018  212.5028    2.0010
4  298.5552  300.5560    2.0008